<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <ul>
        What chat room would you like to enter?<br>
        {% for chat in chat_list %}
        
        <li>
            <a href="http://{{chat.domain_name}}:8000/chat/{{chat.unique_code}}/" target="_blank"> {{ chat.unique_code}}</a>
        </li>
        
        {% endfor %}
        
    </ul>
    {% comment %} <input id="room-name-input" type="text" size="100"><br> {% endcomment %}
    {% comment %} <input id="room-name-submit" type="button" value="Enter"> {% endcomment %}

    <script>
        {% comment %} document.querySelector('#room-name-input').focus(); {% endcomment %}
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '' + roomName + '/';
        };
    </script>
</body>
</html>